@import "tailwindcss";

@layer 
base
 {
  *, *::before, *::after {
    
box-sizing
: border-box;
  }

  * {
    
margin
: 0;
    
padding
: 0;
    
box-sizing
: border-box;
  }

  html {
    
font-family
: 'Playfair Display', sans-serif;

  }
}

body {
    background-color: #f3f2e9;
    /* outline: 2px solid red; */

}

#navbar {

    background-color: #8a9a5b;
    color: #4A2C2A;

}

#logo{

    font-family: 'Apple Chancery', cursive;

}